* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

p,
h3 {
	font-family: 'Old Standard TT', serif;
}

h2,
h5 {
	font-family: 'Oswald', sans-serif;
}

a:hover {
	text-decoration: none;
}

/*home page*/
section#home {
	height: 100%;
	text-align: center;
	align-items: center;
	display: flex;
	background: url('../img/bg.jpg');
	background-repeat: no-repeat; 
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%; 
}

section#home img {
	border-radius: 50%;
	height: 250px;
	width: 300px;
}

.row.home img,
#coverimg,
div.aboutcontent {
	box-shadow: 0px 0px 40px black;
}

/*hover about*/

#abouthover {
	position: relative;
	width: 50%;
}

#img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#abouthover:hover #img {
	opacity: 0.9;
}

#abouthover:hover .middle {
	opacity: 1;
}

.text {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
}

/*hover skillset*/

#skillsethover {
	position: relative;
	width: 50%;
}

#img2 {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

#skillsethover:hover #img2, 
#skillsethover:hover .overlay {
	width: 100%;
	opacity: 0.8;
}

.text2 {
	color: black;
	font-size: 45px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
}

/*hover projects*/

#projectshover {
	position: relative;
	width: 50%;
}

#img3 {
	display: block;
	width: 100%;
	height: auto;
}

.overlay.project {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform:scale(0);
	transition: .3s ease;
	border-radius: 50%;
}

#projectshover:hover .overlay.project {
	transform: scale(1)
}

#projectshover:hover #img3 {
	border-radius: 50%;
	opacity: 0.9;
}

.text3 {
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

/*hovercontact*/

#contacthover {
	position: relative;
	width: 50%;
}

#img4 {
	display: block;
	width: 100%;
	height: auto;
}

.overlay.contact {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	border-radius: 50%;
}

#contacthover:hover .overlay.contact,
#contacthover:hover #img4 {
	height: 100%;
	opacity: 0.9;
}

.text4 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

section#about {
	height: 100%;
	background: url('../img/about.jpg') no-repeat center center;
	background-attachment: fixed;
	background-color: #656d78;
	display: flex;
	align-items: center;
}


/* about */

div.aboutcontent {
	background-color: #ececed;
	padding: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container.about {
	padding-top: 25px;
	padding-bottom: 25px;
}

div.aboutcontent h2 {
	font-family: 'Fredericka the Great', cursive;
}

div.aboutcontent p {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.aboutcontent span {
	border-bottom: 5px solid black;
}


/*skillset*/

section#skillset {
	height: 100%;
	background: url('../img/skillset.jpg') no-repeat center center;
	background-attachment: fixed;
	color: white;
	display: flex;
	align-items: center;
}

.row.skillset {
	text-align: center;
}

.row.skillset h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}



/*projects*/
section#projects {
	height: auto;
	background: url('../img/projects.jpg') no-repeat center center;
	background-attachment: fixed;
	align-items: center;
	display: flex;
}

section#projects .container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

img.d-block {
	height: 400px;
}


/*contact*/
section#contact {
	height: 100%;
	background: url('../img/contact.jpg');
	background-repeat: no-repeat; 
	background-position: left;
	align-items: center;
	text-align: center;
	display: flex;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%; 
	background-attachment: fixed;
}

.firstcontent {
	/*border: 4px solid black;*/
	color: black;
	background-color: white;
	/*padding: 40px;*/
	height: 400px;
	width: 100%;
	box-shadow: 0px 0px 60px black;
}



/*footer*/

section#footer {
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 5px;
	box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.2), -5px -5px 5px 0 rgba(0, 0, 0, 0.19);
}

section#footer ul li {
	display: inline;

}









/* MEDIA QUERIES */

/* mobile */
@media (max-width: 575.98px) {
	section#home img {
		height: 150px;
		width: 200px;
	}

	section#home,
	section#about,
	section#skillset,
	section#projects,
	section#contact {
		height: auto;
		width: auto;
	}
	
	.row.skillset {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	section#projects h2 {
		margin-top: 20px;
	}

	#first,
	#second {
		margin-top: 10px;
		margin-bottom: 10px;
		box-shadow: 0px 0px 20px black;
	}

	#abouthover,
	#skillsethover,
	#projectshover,
	#contacthover {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.text,
	.text2,
	.text3,
	.text4 {
		font-size: 30px;
	}

	.rowcontent {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.firstcontent p {
		font-size: 15px;
	}


}

/* tablet */
@media (min-width: 576px) and (max-width: 991.98px) {
	#abouthover,
	#skillsethover,
	#projectshover,
	#contacthover {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#coverimg {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	#first,
	#second {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	section#home {
	height: 100%;
}

	section#about {
	height: 100%;
	background-color: #656d78;
	display: flex;
	align-items: center;
}

section#skillset {
	height: 120%;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
}


	section#projects {
	height: 100%;
	background-color: white;
	align-items: center;
	display: flex;
}

	section#contact {
		height: 100%;
		background: url('../img/bgcontact.jpg');
		align-items: center;
		display: flex;
		background-repeat: no-repeat; 
		background-position: bottom left;
		webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width:100%; 
		background-attachment: fixed;
	}


}
